<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dhenao.miestadio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- client -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <!-- Authenticator -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:configChanges="screenSize|orientation"  android:name=".ui.Splash"
            android:label="@string/app_name" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter> <action android:name="android.intent.action.MAIN" /> <category android:name="android.intent.category.LAUNCHER" /> </intent-filter>
        </activity>

        <activity android:configChanges="screenSize|orientation" android:name=".ActividadPrincipal" android:label="@string/app_name" android:theme="@style/AppTheme" />


        <activity android:name=".system.ActividadConfiguracion" android:theme="@style/AppTheme" />

        <activity android:name=".ui.CargaralgunContenido" android:theme="@style/AppTheme" />

        <activity android:name=".ui.CargaContenido" android:theme="@style/AppTheme" />

        <activity android:name=".ui.MultiTouchActivity" android:theme="@style/AppTheme" />

        <activity android:name=".system.autenticacion.LogueoActivity" android:label="@string/app_name" android:screenOrientation="portrait" android:theme="@style/AppTheme" />

        <activity android:name=".system.sync.UploadActivity" android:screenOrientation="portrait" />

        <activity android:name=".system.sync.AcitividadSubidaMultimedia" android:screenOrientation="portrait" />

        <service android:name=".system.sync.ServicioCuentaSinc"
            android:exported="true" android:process=":auth">
            <intent-filter> <action android:name="android.accounts.AccountAuthenticator" /> </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator" />
        </service>

    </application>

    <!-- para el broadcast... no borrar -->
    <!--receiver android:name=".system.BCReceiver">
        <intent-filter>
            <action android:name="android.provider.Telephony.SECRET_CODE"/>
            <data android:scheme="android_secret_code" android:host="324126"/>
        </intent-filter>
    </receiver>

    <receiver android:name=".ActividadPrincipal$DiagnoserReceiver">
        <intent-filter>
            <action android:name="android.provider.Telephony.SECRET_CODE"/>
            <data android:scheme="android_secret_code" android:host="324126"/>
        </intent-filter>
    </receiver-->

</manifest>
